<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} - CryoSpy</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Cryospy</h1>
        <nav>
            <ul>
                <li><a href="/clients" class="{{ if eq .Title "Clients" }}active{{ end }}">Clients</a></li>
                <li><a href="/clips" class="{{ if eq .Title "Clips" }}active{{ end }}">Clips</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        {{ template "content" . }}
    </main>
</body>
</html>
